.container-song{
    font-weight: bold;
    border-bottom: 1px solid #353535;
    height: 40px;
    flex-wrap: wrap;
}

.index{
    text-align: center;
    flex-basis: 50px;
}

.title{
    flex-basis: 460px;
}

.album {
    flex-basis: 700px;
}

.duration{
    flex-basis: 150px;
}