.index{
    flex-basis: 50px;
}

.song-title-col{
    flex-basis: 460px;
}

.song-album {
    flex-basis: 700px;
}

.duration{
    flex-basis: 150px;
}

.song-img {
    margin-right: 20px;
}

button.btn-select-song  {
    background: #1ed760;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    transition: ease 0.3s;
}

button.btn-select-song:hover  {
    cursor: pointer;
    background: #17a047
}

.song{
    /* background-color: #212121; */
    border-radius: 10px;
    transition: ease 0.5s;
}

.song:hover {
    transform: scale(1.01);
    background-color: #212121;
    cursor: pointer;
}