.index{
    flex-basis: 50px;
}

.song-title-col{
    flex-basis: 460px;
}

.song-album {
    flex-basis: 700px;
}

.duration{
    flex-basis: 150px;
}

.song-img {
    margin-right: 20px;
}

.selectIcon{
    color: #43a047;
}
.selectIcon:hover{
    color: #2e7d32;
    cursor: pointer,
}

.deselectIcon{
    color: #e53935;
}
.deselectIcon:hover{
    color: #b71c1c;
    cursor: pointer,
}

button.btn-select-song  {
    border: none;
    background: none;
}

button.btn-select-song:hover  {
    cursor: pointer;
}

.song{
    /* background-color: #212121; */
    border-radius: 10px;
    transition: ease 0.5s;
}

.song:hover {
    transform: scale(1.01);
    background-color: #212121;
    cursor: pointer;
}