.navbar {
    /* background-color: #e10c0c; */
    background-color: #181818;
    height: 70px;
    margin: 0;
    padding: 0;
}

.leftNav img {
    position: absolute;
    height: 45px;
    left: 30px;
}

.leftNav {
    position: relative;
    background-color: #080808;
    height: 70px;
    /* padding: 10px 0; */
    margin-left: -5px;
}



.leftNav img, .middleNav input{
    margin-top: 10px;
}
.leftNav, .middleNav, .rightNav{
    position: relative;
    top: -7px;
}